* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.main-grid-container {
    display: grid;
}

/* 3 */
.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 1rem;
}

.card-container {
    border: 1px solid brown;
}

/* 7 */
::backdrop {
    background-color: lightslategray;
    opacity: 0.25;
}